.item-grid{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: #191970;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    display: block;
    color: #ECEFF1;
    text-align: center;
}

.card{
    border-radius: 12px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px;
}

.card-img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    height: auto;
    max-height: 250px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
    display: block;
    border-bottom: 2px solid black;
}

.card dl{
    color: black;
    padding: 12px 16px;
}

.card dt{
    color: black;
}

.card dd{
    color: black;
}

.card a {
    display: block;        
    width: 100%;             
    white-space: nowrap;    
    overflow: hidden;       
    text-overflow: ellipsis; 
    font-size: 0.8rem;
    text-decoration: underline;
}

.detail-button {
    display: block;
    width: 80%;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #3b82f6;
    border-radius: 50px;
    font-size: 16px;
    align-self: center;
    text-align: center;
    box-sizing: border-box;
}