.register-form label {
    color: white;
}

.register-form form {
    width: 300px;
    margin: 20px auto;
}

.register-form button {
    display: block;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: 10px auto;
    border-radius: 30%;
}