
html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: block;
}

.container{
    background-color: #191970;
    width: 100%;
    min-height: 100vh;
    display: block;
    margin: 0; 
    padding-top: 1px;
}

.title{
    color: aqua;
    text-align: center;
    display: block;
    width: 100%;
}

.navigate{
    background-color: rgba(52, 51, 50, 0.543);
    display: flex;
    width: 100%;
}

.styling-button, .register-button, .upload-button{
    display: flex;
    background-color: #efefef;
    color: #111;
    flex: 1;
    height: 70px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #111;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}